<div>
  <!--when we hear submit event - we trigger onSaveAlbum method and pass the form by reference (ngForm Label)-->
  <!--#album form is label we give with NgForm to the data of the form-->
  <mat-card-title>
    <mat-icon id="library-icon">photo_library</mat-icon>
    Create new album
  </mat-card-title>
  <mat-form-field hintLabel="at least 3 characters, no more then 40">
    <!-- needs case specific error message if album title is more than 40 characters or invalid REGEX -->
    <input matInput type="text" name="album" [(ngModel)]="Name" required pattern="^\s*[\w ]{3,40}$"
           placeholder="Album Title" #album="ngModel">
    <mat-error *ngIf="album.invalid">Please enter Album title</mat-error>

  </mat-form-field>
  <br>
  <mat-form-field>
        <textarea matInput name="info" placeholder="Album Info" [(ngModel)]="AlbumInfo"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="15"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">No Thanks</button>
    <button mat-button [mat-dialog-close]="submitAlbum()" cdkFocusInitial>Ok</button>
  </div>
</div>
