<h1 mat-dialog-title>Share {{data.length}} photos width? </h1>
<div mat-dialog-content>
  <p>Choose who to share width:</p>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option.firstName+' '+option.lastName"
                  (onSelectionChange)="onShopSelectionChanged(option)">
        {{option.firstName + " " + option.lastName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">No Thanks</button>
  <button mat-button [mat-dialog-close]="this.selected" cdkFocusInitial>Ok</button>
</div>
