<!-- <div class="search-container">
  <div class="search">
    <!-- <button mat-mini-fab>
            <i class="material-icons">search</i>
          </button> -->

   <!--  <div class="icon">
      <img src="/assets/images/search.svg" alt="search">
    </div>

    <mat-form-field>
      <!--      <input matInput type="text" id="inputEmail" (input)="onInput()" placeholder="Enter album name to search"
                   [(ngModel)]="album_name" [ngModelOptions]="{standalone: true}">-->
     <!--  <input matInput type="text"  [(ngModel)]="filterStr" placeholder="Enter album {{filterKey}} to search"
             [(ngModel)]="album_name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

  </div> -->

 <!--  <button mat-button class="sort" [matMenuTriggerFor]="menu">
    <i class="material-icons" matTooltip="sort by" matTooltipPosition="left">
      keyboard_arrow_down
    </i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeKey('name')">Album Name</button>
    <button mat-menu-item (click)="changeKey('date')">Date</button>
    <button mat-menu-item (click)="changeKey('info')">Info</button>
 --> 
    <!-- <button mat-menu-item (click)="addKeyList('name')">Album Name</button>
    <button mat-menu-item (click)="addKeyList('date')">Date</button>
    <button mat-menu-item (click)="addKeyList('info')">Info</button> -->

<!--   </mat-menu>
</div> -->
<app-options-buttons></app-options-buttons>
<app-filter-by [filterOptions]="albumsFilterOptions" (newFilterPipeEvent)="updateFilter($event)" (dateSearchedEvent)="filterByDate($event)" (resetDateFilterEvent)="resetDateFilter()"></app-filter-by>

<div class="main-wrapper" style="margin-top: 10px;">
   <ng-container *ngIf="(albums | async)  as albumim">
    <div class="viewport" *ngIf="albumim.length !== 0; else noAlbums">
      

      <mat-card *ngFor="let album of albumim | albumPipe:filterStr:filterKey" matTooltip="{{album.info}}"
                matTooltipPosition="above" [ngStyle]="{'background': (album.name ==='Recycle Bin') ? 'url(../assets/images/recyclebin.svg) no-repeat silver' : 'url(https://picsum.photos/300/200?grayscale)'}">
                
      <!-- <mat-card *ngFor="let album of albumim  | customPipe:['1','w','a']:filterKeyList:-1" matTooltip="{{album.info}}"
                matTooltipPosition="above"> -->
        <!-- <img src="https://picsum.photos/300/200?grayscale" alt="#"> -->
        <!-- <img src="https://source.unsplash.com/random/300x200" alt="#"> -->
        
          <mat-card-header>
            <mat-card-title> {{album.name}}</mat-card-title>
            <mat-card-subtitle>{{album.dateCreated | date:'short'}}</mat-card-subtitle>
          </mat-card-header>
  
  
          <mat-card-actions>
            <a class="button" [routerLink]="['/album',album.id]">Open</a>
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu"> -->
            <div
            *ngIf="(album.name !=='Recycle Bin')"
            class="simple-link"
            [matMenuTriggerFor]="menu"
            >
              <mat-icon>more_vert</mat-icon>
            </div>
            <!-- </button> -->
          </mat-card-actions>
  
  
          <mat-menu #menu="matMenu" >
            <button mat-menu-item [routerLink]="['/edit',album.id]">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="onDelete(album.id, album.name)">
              <mat-icon>delete_sweep</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
       
      </mat-card>


    </div>
    <ng-template #noAlbums>
      <p class="no-albums">No albums are found</p>
    </ng-template>
  </ng-container>
</div>
