@import "../../scss/base";
@import "../../scss/card";

:host {
  display: flex;
}

.message {
  width: 90%;
  // margin-right: auto;
  margin-left: 2em;

  display: flex;
  background-color: var(--primary-bg-color);
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.23);
  // box-shadow:  inset 1px 1px 3px rgba(0, 0, 0, .3);
  // box-shadow: inset $box-shadow;
  border: 1px solid rgb(223, 221, 221);

  margin-bottom: 10px;
  padding: 0.5em;
  border-radius: 0 10px 0px 0;
  flex-direction: row-reverse;

  @media (max-width: $tablet) {
    padding: 5px;
    border-radius: 4px;
  }
}


.reply-message{
  flex-direction: unset;
  margin-left: 0;
  border-radius: 10px 0 0 0;

  .card{
    border-radius: 10px 0 0 0;
  }
}

.card {
  height: 65px;
  background-color: var(--primary-bg-color);
  box-shadow: none;
  width: 10rem;
  min-width: 10rem;

  padding: 0;
  flex-grow: 0;

  border-right: 1px solid rgba(0, 0, 0, .2);
  // border-radius: 5px;
  border-radius: 0 10px 0 0;
  grid-template-columns: auto;

  .card__main {
    align-self: center;
    text-align: center;
    background-color: var(--primary-bg-color);
    padding: 0;

    @media (max-width: $tablet) {
      max-width: 50px;
    }

    .card__main-name {
      color: var(--primary-text-color);
      font-weight: 700;
      font-size: 0.7em;

      &::after {
        border-bottom: none;
      }
    }

    .card__content {
      color: var(--primary-text-color);
      font-size: 0.5em;
    }
  }
}

.messageContent {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  align-self: stretch;
  flex-grow: 1;
  color: var(--primary-text-color);
  font-size: .8em;
  font-weight: 500;
  display: flex;
  align-items: center;
  
}

// .isOwnMessageContainer {
//   // border-right: 10px solid var(--box-bg-color);
//   margin-left: auto;
//   margin-right: unset;
//   background-color: $light-lavender;
//   margin-left: 1px;
// }

// .receivedMessageContainer {}

// .isOwnTimestamp {
//   color: var(--box-bg-color);
// }



// .isOwnMessageContent {
//   background-color: #d7daec;
//   color: #01579B;
//   // background-color: var(--box-bg-color);
//   // color: var(--box-primary-text-color);
// }

.isOwnSender {
  color: var(--primary-text-color);
}

// .messageContainer {
//   width: 100%;
//   display: flex;

//   border-radius: 5px;
//   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.23);
// }

// .isOwnMessageContainer {
//   background-color: #01579B;
// }

// .messageData {
//   flex: 1;
//   padding: 10px;
//   font-size: 0.7em;
// }

// .sender {
//   display: block;
//   color: #222;
//   font-weight: bold;
// }

// .isOwnSender {
//   color: #E1F5FE;
// }

// .timestamp {
//   color: #555;
//   font-style: italic;
// }

// .isOwnTimestamp {
//   color: #4FC3F7;
// }



// .isOwnMessageContent {
//   // background-color: #E3F2FD;
//   // color: #01579B;
//   background-color: var(--box-bg-color);
//   color: var(--box-primary-text-color);
// }
