<div class="message"  [ngClass]="isMyMessage()">
  
  <div class="card">

    <div class="card__main">
      <h2 class="card__main-name" id="name" 
      >
      <!-- [ngClass]="{'Sender':'resObjId==userobjId'}" -->
        {{senderName}}
      </h2>

      <p class="card__content" 
      >
      <!-- [ngClass]="{'isOwnTimestamp':'resObjId==userobjId'}" -->
        {{timeStamp | date:'short'}}
      </p>
    </div>

  </div>
  <div class="messageContent">
    <!--  [ngClass]="{'isOwnMessageContent':'resObjId==userobjId'}" -->
  <div class="content">
      <p>{{messageContent}}</p>
    </div>
  </div>
</div>

<!--
<div class="messageContainer" [ngClass]="{isOwnMessageContainer:id!=userID}">
  <div class="messageData">
    <span class="sender" [ngClass]="{isOwnSender:id!=userID}">
      {{senderName}}
    </span>
    <span class="timestamp" [ngClass]="{isOwnTimestamp:id!=userID}">
      {{timeStamp | date:'medium'}}
    </span>
  </div>

  <div class="messageContent" [ngClass]="{isOwnMessageContent:id!=userID}">
    {{messageContent}}
  </div>
</div> -->
