<app-options-buttons></app-options-buttons> 
<div class="main-wrapper" *ngIf="!isLoading">

  <h2>{{albumInfo.name}}</h2>
  <p>{{albumInfo.info}}</p>
  <mat-tab-group [selectedIndex]="selectedIndex" #tabGroup>
    <mat-icon>art_track</mat-icon>
    <mat-tab label="Gallery">
      <ng-template mat-tab-label>
        <mat-icon>art_track</mat-icon>
        <span>Gallery</span>
      </ng-template>

      <mat-form-field>
        <input matInput [matDatepicker]="startDate" placeholder="Choose start date" [(ngModel)]="startDateSelected">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="endDate" placeholder="Choose end date" [(ngModel)]="endDateSelected">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
      <button mat-button class="button select" (click)="printDates()">Filter Dates</button>
      <button *ngIf="filtered" mat-button class="button select" (click)="resetDateFilter()">Reset</button>

      <div [hidden]="!uploading">
        <p>Uploading files...</p>
        <mat-progress-bar mode="determinate" [value]="this.progress"></mat-progress-bar>
        <br>
      </div>

      <ng-container *ngIf="(files | async) === null">
        Loading files...
      </ng-container>
      <mat-spinner *ngIf="isLoadingSpinner"></mat-spinner>

      <ng-container *ngIf="(files | async)  as files2Show">
        <ng-container *ngIf="files2Show.length !== 0; else noFiles">

          <div class="buttons">
            <button mat-button class="button select" (click)="chooseAll()">{{selectStr}}</button>

            <button mat-button 
              [matMenuTriggerFor]="albumInfo.name ==='Recycle Bin' ? recycleMenu : albumInfo.name ==='FILES_TO_DELETE' ? fileDeleteMenu : optionsMenu" 
              [disabled]="selectedItems.length==0" class="button select">
              Options
            </button>

            <mat-menu #optionsMenu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="moveTo">Move</button>
              <button mat-menu-item [matMenuTriggerFor]="copyTo">Copy</button>
              <button mat-menu-item (click)="shareSelected()">Share</button>
              <buttonm mat-menu-item [matMenuTriggerFor]="deleteOpts">Delete</buttonm>
             <mat-menu #deleteOpts>
              <button mat-menu-item (click)="deleteSelected()">
                Delete Selected
              </button>
              <button mat-menu-item (click)="wipeFromAll()">
                Delete From All MY Albums
              </button>
             </mat-menu>
            </mat-menu>
            <mat-menu #moveTo="matMenu">
              <button mat-menu-item (click)="moveSelectedToNewAlbum()">Move to New Album</button>
              <button mat-menu-item (click)="moveSelectedToExistingAlbum()"> Move to Existing Album</button>
            </mat-menu>
            <mat-menu #copyTo="matMenu">
              <button mat-menu-item (click)="copySelectedToNewAlbum()">Copy to New Album</button>
                <button mat-menu-item (click)="copySelectedToExistingAlbum()">Copy to Existing Album</button>
            </mat-menu> 
            
            <mat-menu #recycleMenu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="moveTo">Move</button>
              <button mat-menu-item [matMenuTriggerFor]="deleteOptsRes">Delete</button>
            </mat-menu>
            <mat-menu #deleteOptsRes>
              <button mat-menu-item (click)="deleteSelectedFromResBin()">
                Delete Selected
              </button>
              <button mat-menu-item (click)="wipeFromAllResBin()">
                Delete From All MY Albums
              </button>
             </mat-menu>
          
             <mat-menu #fileDeleteMenu="matMenu">
              <button  mat-menu-item (click)="assignToUser()">Assign to User</button>
              <button mat-menu-item (click)="deleteForever()">Delete Forever</button>
             </mat-menu>
          </div>

          <mat-form-field>
            <!-- id="inputEmail" -->
            <input matInput type="text" [(ngModel)]="filterStr" placeholder="Enter search"
                   [(ngModel)]="file_name" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <button mat-button class="sort" [matMenuTriggerFor]="menu">
            <i class="material-icons" matTooltip="sort by" matTooltipPosition="left">
              keyboard_arrow_down
            </i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Description</button>
            <button mat-menu-item>Camera</button>
            <button mat-menu-item>etc..</button>
          </mat-menu>

          <cdk-virtual-scroll-viewport 
            class="gallery"
            appendOnly 
            [itemSize]="30"
           >
            <!-- additional container is required for shadow, since nothing can be seen outside of virtual scroller -->
            <div class="gallery-content">
              <div *cdkVirtualFor="let file of files2Show">
                    <!-- This has to be its own component -->
                <div class="image" >
                  <!-- <app-secure-image class="image-view" [src]="file.url" -->
                  <app-secure-image class="image-view" [src]="setViewUrl(file)"
                    
                                    (click)="openImageDialog(file)"></app-secure-image>
                  <mat-checkbox (change)="addRemoveFiles(file)" [ngModel]="selectAll"></mat-checkbox> 
                  <!--  [(ngModel)]="selectAll" selectedItems -->
                </div>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
            <!-- Carousel -->
            <!-- <app-image-carousel></app-image-carousel> -->
        </ng-container>
        <ng-template #noFiles>
          <p class="no-files">No files are found</p>
        </ng-template>
      </ng-container>

    </mat-tab>

    <div *ngIf="albumInfo.name !=='Recycle Bin'">
      <mat-tab label="Upload">

        <ng-template mat-tab-label>
          <mat-icon>add_to_photos</mat-icon>
          <span>Upload</span>
        </ng-template>


        <div class="viewport">
          <p>...</p>
          <div>
            <a type="button" mat-raised-button class="button" (click)="filePicker.click()">Add Photos</a>
            <input type="file" #filePicker multiple (change)="onImageSelectedForUpload($event)" [hidden]="true">
            <br>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>

