
@import "../../scss/form";

$margin: 1rem;

.main-wrapper {
  margin-top: $main-wrapper-margin-top-small;
  height: calc(100vh - #{$main-wrapper-margin-top-small} - #{$main-header-height});
  display: flex;
  flex-direction: column;
}

.search-container {

  .sort {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-text-color);
  }
}

.no-files {
  //text-align: center;
  margin-top: $margin;
  font-family: $primary-font-family;
}

::ng-deep .mat-tab-group {
  flex: 1;
  display: flex;
  flex-direction: column;

  .mat-tab-body-wrapper {
    flex: 1;
    margin: $margin 0;
    // background: #fff;
    position: relative;
    // box-shadow: $box-shadow-2;
  }

  .mat-tab-header {
    border-bottom-color: transparent;

    .mat-ink-bar {
      background-color: var(--primary-text-color);
      height: .5px;
    }
  }

  .mat-tab-body {
    height: 100%;
  }

  .mat-tab-body-content {
    height: 100%;
    overflow: hidden;
  }

}

.buttons {
  display: flex;

  .button {
    margin: 0;
    font-size: 1.4rem;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }

}

.gallery {
  height: 100%;
  margin-top: 2rem;

  ::ng-deep .cdk-virtual-scroll-content-wrapper {
    padding: 5px;
    // box-shadow:  inset 1px 1px 5px var(--box-bg-color), inset -1px -1px 5px var(--box-bg-color);
    background: var(--box-secondary-text-color);
    .gallery-content {
      padding: 2rem;
      padding-bottom: 8rem;


      width: 100%;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
      justify-items: center;
      grid-gap: 5px 10px;
      // grid-auto-rows: 100px;
    }
  }


  .image {
    position: relative;
    max-width: 200px;

    .mat-checkbox {
      position: absolute;
      top: -2px;
      right: 0;

      ::ng-deep .mat-checkbox-frame {
        border-color: #fff;
      }

      ::ng-deep .mat-ripple-element {
        background-color: var(--primary-color);

      }
    }

    ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
      background-color: var(--primary-color);
      outline: 2px solid white;
      // box-shadow: 1px 1px 2px white;
    }
  }

}
mat-form-field {
  margin-right: 12px;
}




// .fuse-card {
//   max-width: 320px;
//   min-width: 320px;
//   border-radius: 8px;
//   border: 1px solid;
//   display: flex;
//   flex: 1 1 auto;
//   float: right;
// }

// .app-secure-image {
//   display: flex;
//   flex: 1 1 auto;
//   float: right;
// }


// p {
//   display: flex;
//   flex: 1 1 auto;
//   float: right;
// }

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0 4px;
// }

// /* Create four equal columns that sits next to each other */
// .column {
//   padding: 0 4px;
//   float: right;
// }

// app-secure-image {
//   margin-top: 8px;
//   vertical-align: middle;
// }


// .polaroidOB {
//   background: #fcfcfc;
//   box-shadow: 0 0 10px #101010;
//   width: 300px;
//   height: 300px;
//   margin: 50px auto;
//   position: relative;
// }

// .polaroidOB:before, .polaroidOB:after {
//   width: 100px;
//   height: 40px;
//   display: block;
//   content: "";
//   background: hsla(40, 100%, 80%, 0.4);
//   position: absolute;
// }

// .polaroidOB:before {
//   left: -35px;
//   top: -5px;
//   transform: rotate(-45deg);
// }

// .polaroidOB:after {
//   right: -35px;
//   top: -5px;
//   transform: rotate(45deg);
// }

// .polaroidOB picture {
//   position: absolute;
//   top: 1em;
//   left: 1em;
//   right: 1em;
//   bottom: 3em;
//   overflow: hidden;
// }

// .polaroidOB img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

// .polaroidOB figcaption {
//   font-family: 'Gloria Hallelujah', cursive;
//   font-size: 1.6em;
//   line-height: 1.3em;
//   text-align: center;
//   height: 3em;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
