
<div class="main-wrapper">
  <div class="reg-container">
    <section class="about">

      <div class="logo">
        <svg viewBox="0 0 371.16 188.11">
          <path [attr.fill]="!darkTheme ? '#4f61ac' : '#7C86B0'" [ngClass]="cloudAnimation ? 'cloud anim': 'cloud'"
            d="M85.31,26.94s0,0,0,0A18.68,18.68,0,0,0,67,12.13a19.62,19.62,0,0,0-2.18.14s0,0,0,0a18.65,18.65,0,0,0-33,.19l0,0A18.68,18.68,0,0,0,15.07,27.05s0,0,0,0A18.65,18.65,0,0,0,18.19,63H34.08s.05,0,.05,0V56.07a.05.05,0,0,0-.05,0H29.53A4.79,4.79,0,0,1,26,54.6a4.7,4.7,0,0,1,0-6.59L47,26.16a4.7,4.7,0,0,1,6.68,0L74.71,48a4.7,4.7,0,0,1-3.48,8H66.67a0,0,0,0,0,0,0V63a0,0,0,0,0,0,0h5.11L82.7,63h0a18.66,18.66,0,0,0,2.6-36.06Z" />
        </svg>
        <img *ngIf="!darkTheme" src="/assets/images/logoTitleNoCloud.svg" alt="logo">

        <img *ngIf="darkTheme" src="/assets/images/logoTitleNoCloudWhite.svg" alt="logo">
      </div>

      <h2>About</h2>
      <p>InCloud was develoved with the idea of "Sharing With Those You Care" and trust.
          We beleave that it is enough a Single memory for everyone.<br>
         Share Images and Video across your family and friends privatly.
      </p>
        <p>
          Save memory, spaces, money and share it with the InCloud technology.
          You can be sure, the memory will be unique and Safe.
        </p>
        <h2>Developers:</h2>
        <p>
          Yaroslav Krishtain - UI, DB.<br>
          Viyacheslav Dolin - Architect, UI, DB.
        </p>
        <h2>Contrebutors:</h2>
        <p>
          Tanya - UI Goddise. Rizhaya - Helped too.
        </p>
    </section>

    <div class="registration">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
