<div *ngIf="!isLoading">

  <!-- <img src="/assets/images/login.svg" alt="login"> -->

  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <h2>Login</h2>
    <mat-form-field>
      <input matInput name="Email" ngModel #emailInput="ngModel" type="email" required email
        pattern="^[^\s@]+@[^\s@.]+\.[^\s@.]+$" placeholder="Email">

      <mat-error *ngIf="emailInput.invalid">Please enter valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput ngModel #passwordInput="ngModel" name="password" placeholder="Password" required
        pattern="^\w{4,}$">

      <mat-error *ngIf="passwordInput.invalid">Please enter valid password</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Login
    </button>

    <p>Don't have an account?<br>Register
      <a routerLink="/register/signUp">here</a></p>
  </form>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>