/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "app/scss/base";

:root {
  font-size: 62.5%;

  @media (max-width: $tablet) {
    font-size: 50%;
  }

  @media (max-width: $mobile-large) {
    font-size: 45%;
  }
  @media (max-width: $mobile) {
    font-size: 40%;
  }
}


body {
  min-height: 100vh;

  font-family: $primary-font-family;
  /*background: url(assets/images/bg.jpg) no-repeat center center fixed;*/
  // background-image: linear-gradient(to bottom right, $light-blue, $middle-blue);
  // background-image: linear-gradient(to bottom right, var(--primary-bg-color), var(--secondary-bg-color));
  background: var(--primary-bg-color);
  background-size: 100%;
  background-attachment: fixed;

  width: 100vw !important;
  // overflow-y: scroll;
  overflow: auto;

  color: var(--primary-text-color);
  font-size: 1.7rem;
}

//////////////////////////////////////////////////////////////////////////////////
// scrollbar
//////////////////////////////////////////////////////////////////////////////////

$scroll-bar-width: 6px;

::-webkit-scrollbar {
  width: $scroll-bar-width;
  height: $scroll-bar-width;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sidenav-text-color);
  border-radius: 10px;
  outline: 2px solid slategrey;
}

::-webkit-scrollbar-thumb:active {
  background-color: lighten($middle-gray, 20%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
