@import "../../scss/search";
@import "../../scss/card";



.no-users {
  text-align: center;
}


// users list
.viewport {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  // border: 3px solid blue;
}

